<!DOCTYPE html>
<html>

<head>
  <title>SampleStock</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <section class="hero is-light is-fullheight">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <%= link_to "Sample Stock", root_path, class: "title", id: "logo" %>
            <span class="navbar-burger burger" data-target="navbarMenuHeroC">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </span>
          </div>
          <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-end">
              <%= link_to "Home", root_path, class: "navbar-item is-active" %>
              <%= link_to "Products", products_path, class: "navbar-item" %>
              <%= link_to "BI", bi_path, class: "navbar-item" %>
            </div>
          </div>
        </div>
      </header>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5-desktop is-5-widescreen">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
</body>

</html>